
<div id="subsd">

<h1 style="text-align: center;">subdomains Finder</h1>
<br>
<form action="/subscan" method="POST" id="form1">
    <label>Please Enter URL to scan:</label>
          <input type="text" id="scanner-input" name="dmn1" placeholder="URL..." required>
          <div class="url error"></div>
          <br>
          <button type="submit" id="btn" form="form1">Scan</button>
</form>
</div>