<!-- <div id="googleDorksModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content googleDork">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body"> -->
<%- include('opt/header') -%>
<!-- <li><a href="/logout">logout</a></li> -->
</ul>
</nav>


                <div class="">
                    <div style="text-align: center;">
                        <h2 style="color: #fcdf6e;"><b>Google dorking</b></h2>
                    </div>
                </div>
                <div class="justify-content-center">
                    <br>
                    <div class="col-sm-6 offset-sm-3" style="text-align: center;">
                        <input type="text" class="form-control form-control-sm mr-1" placeholder="example.com" 
                            id="dorkTarget" required />
                    </div>
                </div>
                <br><br>
                <div class="row" style="font-size: larger;">
                    <div class="col-sm-5">
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(1)"> Publicly exposed
                                documents</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(2)"> Directory listing vulnerabilities
                            </div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(3)"> Configuration files exposed</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(4)"> <a>Database files exposed</a></div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(5)"> Log files exposed</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(6)"> Backup and old files</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(7)">Login pages</div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(8)"> SQL errors</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(9)"> PHP errors / warnings</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(10)"> Search Pastebin.com / pasting sites
                            </div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(11)"> Search Github.com and Gitlab.com
                            </div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(12)"> Signup pages</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(13)"> Access Tokens</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(14)"> Unauthorized Files</div>
                        </div>
                        <div class="row row-content">
                            <div class="col-sm-1"><i class="fa fa-search" style="color: #fcdf6e;"></i></div>
                            <div class="col-sm-10" onclick="googleHacking(15)"> Vulnerable Server</div>
                        </div>
                    </div>
                </div>
<%- include('opt/footer') -%>