<%- include('hafoos/header') -%>
<li><a href="/login">Log in</a></li>
<li><a href="/signup" class="btn">Sign up</a></li>

</ul>
</nav>
<header>
  <div class="headings">
    <h2>Owasp Top 10 vulnerability</h2>
    <h3>By InfoSec Researcher For InfoSec Community</h3>
    <a href="/Reports" class="btn">View Reports</a>
  </div>
</header>



<%- include('hafoos/footer') -%>