<div id="portscanner">
<H1 style="text-align: center;">Port Scanner</H1>
<br>    
<form action="/portscan" method="POST" id="form2">
    <label>Please Enter URL to scan:</label>
          <input type="text" id="scanner-input" name="dmn2" placeholder="URL..." required>
          <div class="url error"></div>
          <br>
          <button type="submit" id="btn" form="form2">Scan</button>
</form>
</div>