
<div id="portscanner">
<H1 style="text-align: center;">Port Scanner</H1>
<br>    
<form action="/portscan" method="POST" id="form2">
    <label>Please Enter URL to scan:</label>
          <input type="text" id="scanner-input" name="dmn2" placeholder="URL..." required>
          <div class="url error"></div>
          <br>
          <button type="submit" id="btn" form="form2">Scan</button>
</form>
<!-- <div class="ml-4" id="submenu">
    <div>
        <label>
            <input type="checkbox" name="nmap"><span>nmap</span>
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="custom"><span>custom</span>
        </label>
    </div>
</div> -->
    
<!-- <div class="row side-list">
    <label><span onclick="portScan()">Port Scan</span></label>
</div>
<div class="ml-4" id="portscan">
    <div class="row side-list drop-list">
        <label>
            <input type="checkbox" name="small"><span>Less than 10,000</span>
        </label>
    </div>
    <div class="row side-list drop-list">
        <label>
            <input type="checkbox" name="medium"><span>Less than 30,000</span>
        </label>
    </div>
    <div class="row side-list drop-list">
        <label>
            <input type="checkbox" name="full"><span>Full Scan</span>
        </label>
    </div>
    <div class="row side-list drop-list">
        <label>
            <input type="checkbox" name="subPort"><span>include subdomains</span>
        </label>
    </div>
</div> -->
</div>