
<div id="subsd" style="display: none;">

<h1 style="text-align: center;">subdomains Finder</h1>
<form action="/subscan" method="POST" id="form1">
    <label>Please Enter URL to scan:</label>
          <input type="text" id="scanner-input" name="dmn1" placeholder="URL..." required>
          <div class="url error"></div>
          <br>
          <button type="submit" id="btn" form="form1">Scan</button>
          <div id="result">
            <img id="loading-icon" src="./pictures/loading.gif" alt="">
        </div>
</form>

<!-- <div class="ml-4" id="submenu">
    <div>
        <label>
            <input type="checkbox" name="amass"><span>Amass</span>
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="subfinder"><span>Subfinder</span>
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="assetfinder"><span>Assetfinder</span>
        </label>
    </div>

</div> -->