
<div id="XSS">
    <div class="container xcontainer">
    
      <div class="scanner">
          <h1>XSS Scanner</h1>
          
          <div id="result">
              <img id="loading-icon" src="./pictures/loading.gif" alt="">
                     </div>
      </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
